body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.leftSidebar {
  height: 100vh;
  width: max(28vw, 0px);
  background-image: url("background.jpg");
}

.rightSidebar {
  height: 100vh;
  width: 42vw;
  padding-left: 2.5vw;
  padding-right: 5vw;
  background-color: yellow;
}

.introduction {
  margin-top: 15vh;
  font-size: clamp(1.15rem, 4vw, 1.6rem);
}

legend {
  font-size: clamp(1.5rem, 5vw, 2rem);
}
